@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quem Somos?</h1>
    <p>Somos uma empresa que valoriza muito o comprometimento, integridade e respeito.
        Buscamos sempre entregar os melhores produtos e melhor atendimento aos nossos clientes.
    </p>
</div>