@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Galeria de fotos</h1>
    <p>Bandas que talvez você goste</p>
</div>

<br>

<div class="text-center">
<p>Kittie</p>
<img src="/imagens/kittie.jpg" width="350" height="250">
</div>

<br>

<div class="text-center">
<p>Korn</p>
<img src="/imagens/korn.jpg" width="350" height="250">
</div>

<br>

<div class="text-center">
<p>Deftones</p>
<img src="/imagens/deftones.jpg" width="350" height="250">
</div>

<br>

<div class="text-center">
<p>Metallica</p>
<img src="/imagens/metallica.jpg" width="350" height="250">
</div>

<br>

<div class="text-center">
<p>Patera</p>
<img src="/imagens/pantera.jpg" width="350" height="250">
</div>

<br>

<div class="text-center">
<p>Slayer</p>
<img src="/imagens/slayer.jpg" width="350" height="250">
</div>