@{
    ViewData["Title"] = "Home Page";
}

<body>
<div class="text-center">
    <h1 class="display-4">Rock House</h1>
    <p>O melhor lugar para apaixonados por rock</p>
</div>
</body>

<body>
    <img src="/imagens/home.png" width="1200" height="500">
</body>