@{
    ViewData["Title"] = "Home Page";
}

<div class="imagem">
    <img id="imagem" src="/imagens/camisakorn.jpg" width="500" height="500">
</div>

<div class="produto">
    <h1 id="titulo">Camiseta Korn</h1>
    <h2>R$ 60,00</h2>
    <button class="produto">Comprar</button>
</div>

<style>
    #conteudo
    {
        margin-top: 30px;
        width: auto;
        margin-top: 50px;
    }
    div.produto
    {
        float: right;
        margin-left: 50px;
        margin-top: 50px;
    }
    div.imagem
    {
        float: left;
        margin-right: 20px;
        margin-top: 70px;
    }

</style>